# Vendor package extracted from ui_flutter-0.1.0-alpha.1.tar.gz
vendor/ui_flutter/

# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
ios/Pods/
ios/.symlinks/
android/.gradle/
android/app/debug/
android/app/profile/
android/app/release/
*.iml
.idea/
