.wrap {
  box-sizing: border-box;
  width: var(--create-canvas-w);
  max-width: 100%;
  padding: var(--Spacing-4) var(--Spacing-Margin, var(--Spacing-4));
  margin: 0 auto;
}

.inner {
  box-sizing: border-box;
  width: var(--create-canvas-w);
  height: var(--create-canvas-h);
  overflow: hidden;
  border-radius: var(--Shape-4);
  box-shadow: var(--Elevation-2);
}
