.offlineAssistantMessage {
  border-left: var(--Stroke-2XL) dotted var(--Border-Subtle);
  padding-left: var(--Spacing-3-5);
}

.offlineToolCall {
  border-left: var(--Stroke-2XL) dotted var(--Border-Subtle);
}
