.ribbon {
  position: relative;
  pointer-events: none;
  overflow: visible;
}

.ribbon[data-variant='dots-with-symbol'] {
  pointer-events: auto;
}

.svg {
  display: block;
  overflow: visible;
  margin: 0;
  padding: 0;
  vertical-align: top;
  pointer-events: none;
}
